# Environment variables and API keys
COMPANY_NAME=
CALENDAR_LINK=
CLICKUP_API_TOKEN=

# App Configuration
JWT_SECRET_KEY=
LITELLM_BASE_URL=http://localhost:4000
LITELLM_API_KEY=
MODEL_NAME=
AUDIO_SERVER_URL=http://127.0.0.1:8001

# Default Admin User
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
